body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5E5D5E;
    margin: 0 auto;
    overflow: auto;
}
.content-wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 30px;
    color: #7b7e54;
    font-family: 'Lora', serif;
}

header nav{

    text-align:right;
}