html, body, #root{
    margin: 0;
    height: 100%;
}
#root {
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5E5D5E;  
}

.homepage-hero{
    background-image: url('../images/full-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh
    
}
.content-wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 65px 40px 0 40px;
}

header h1{
    font-size: 30px;
    color: #7b7e54;
    font-family: 'Lora', serif;

}

header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    color: #727172;
    font-size: 18px;
    padding-left: 50px;
}

h2 {
    font-size: 72px;
    font-family: 'Lora',serif;
    color: #817f80;
}