html, body, #root{
    margin: 0;
    height: 100%;
}
#root {
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5E5D5E;  
   
}

p{
    font-size: 1.25rem; 
    line-height: 40px;
}

.homepage-hero{
    background-image: url('../images/full-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;    
}

.content-wrapper{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 65px 50px;
}

header h1{
    font-size: 1.86rem;
    color: #7b7e54;
    font-family: 'Lora', serif;
}

header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    color: #727172;
    font-size: 1.125rem;
    padding-right: 45px;
}

header h2 {
    font-size: 72px;
    font-family: 'Lora',serif;
    color: #817f80;
    margin-top: 40px;
}

#about{
    background-color: white;
}

#about h2, #skills h2{
    font-size: 2.25rem;
    font-family: 'Lora', serif;
}

.about-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    line-height: 40px;
}

.about-info p{
    width: 46%;
    padding-bottom: 40px
}

#skills {
    background-color: #f5f5f5;
}

#skills .content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#skills h2{
    text-align: center;
    padding: 80px 0 40px 0;
    margin: 0;
}

.skill-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0 30px;
}

h3{
    font-size: 1.5rem;
}

